.logo {
    width: 80px;
    height: 80px;
    border: 0;
    margin: 0;
    border-radius: 40px;
}

.nav-bg {
    background-color: rgba(220, 226, 218, 0.842);
}

.nav-item {
    margin: 10px;
}

.input {
    width: 180px;
    font-size: 11px;
    border: 0;
    padding: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-select {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.wrapper .loader {
    position: absolute;
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.chart {
    margin-bottom: 10px;
}

#dateRange {
    margin-left: 80px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}